<table id="exception_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Exception Details</em></caption>
	<tr>
		<td width="25%">Missed commitment explanation:</td><td>{{DecommitExplanation}}</td>
	</tr>
</table>
