<div class="ibm-access"><a href="#ibm-content">Skip to main content</a></div>
<div id="ibm-masthead">
	<div id="ibm-mast-options">
		<ul>
			<li id="ibm-home"><a href="http://w3.ibm.com">w3</a></li>
		</ul>
	</div>
	<div id="ibm-universal-nav">
		<p id="ibm-site-title"><em>{{user.version}}</em></p>
		<ul id="ibm-menu-links">
		<li><a href="http://w3.ibm.com/sitemap/us/en/">Site map</a></li>
		</ul>
		<div id="ibm-search-module">
			<form id="ibm-search-form" action="http://w3.ibm.com/search/do/search" method="get">
				<p>
				<label for="q"><span class="ibm-access">Search</span></label>
				<input type="text" maxlength="100" value="" name="qt" id="q"/>
				<input type="hidden" value="17" name="v"/>
				<input value="en" type="hidden" name="langopt"/>
				<input value="all" type="hidden" name="la"/>
				<input type="submit" id="ibm-search" class="ibm-btn-search" value=""/>
				</p>
			</form>
		</div>
	</div>
	<div id="ibm-profile-links">
		<div id="ibm-portal-logout-link" class="ibm-profile-links-divider ibm-profile-links-divider--transparent" role="presentation">
			<span id="user">Logged in as <strong id="username">{{user.cn}}</strong></span>
			<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<a id="logoutuserlink" href="/logout">Sign out</a>&nbsp;
		</div>
	</div>
</div>
