
<link href="./css/style.css" rel="stylesheet" type="text/css" />

<script src="/public/js/accesssummary.js"></script>

<script src='./js/utility.js'></script>




<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<span><br/></span>
		
		
		<textarea name="textarea" id="dataForExport" cols="100" style="display:none">{{{valuesToString exportdata}}}</textarea>
		
	
	
	</div>

</div>


<script>
	//Load document's name
	

	
	alert("You cannot export this file due to the final file size please export partial or contact admin for a complete report");
	window.location.href = "/explicitAccessSummary";
	

	
</script>