<link  href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<script src="./js/bluepages.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/jquery.dataTables.js"></script>
	<style>
		.ui-autocomplete-loading {
			background: white url("./images/animated-progress-20x20b.gif") right center no-repeat;
		}
	</style>
<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<br/>
		<br/>
		<div class="ibm-buttons-row">
		</div>

		<div id="loglist">
			<table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">
				<thead>
					<th scope="col">Name</th>
				</thead>
			</table>
		</div> 
	</div>
</div>

<script>
$('h1#pageTitle').text("Bluegroups");

var alldata = JSON.parse('{{{alldata}}}');
var data = [];
for ( var i=0 ; i<alldata.bg.length ; i++ ) {
	if(alldata.bg[i].bgname!="MIRA-ACCESS") {
		data.push(["<a href='/frmbg?group="+alldata.bg[i].bgname+"'>"+alldata.bg[i].bgname+"</a>"]);
	}
}
$('#reports_table').DataTable( {
            data:  data,
			select: true,
			"scrollY": 250,
			"scrollX": true
        } )
</script>
