<script src="./js/businessunit.js"/></script>
<div class="ibm-main">
	<h2>MIRA</h2>
	
	<div class="ibm-container" style="width:100%">
		<iframe id="txtArea1" style="display:none"></iframe>
		
			<table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">
				<tbody>
					<tr>
						<td>
							<br/>
							<form id="form" class="ibm-column-form ibm-styled-form" name="form" method="POST" action="/savebunit">
								<p>
									<input type="hidden" id="selectedBU" name="selectedBU">
									<div id="divBU"></div>
									<br/><br/>
								</p>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		
	</div>
	<div class="ibm-rule"><hr/></div>
	<div class="ibm-buttons-row">
		<input class="ibm-btn-pri" type="button" id="btn_submit" value="Submit" />
			<span class="ibm-sep"> </span>
		<br>
	</div>
	
</div>	
