<link href='./css/fullcalendar.min.css' rel='stylesheet' />
<link rel="stylesheet" href="./css/jquery-ui.css">
<script src='./lib/moment.min.js'></script>
<script src='./lib/fullcalendar.min.js'></script>
<script src='./lib/scheduler.min.js'></script>
<script src='./js/calendar.js'></script>
<link href="/css/mirastyle.css" rel="stylesheet" type="text/css" />
<!-- JS for attachments widget -->
<script src="./js/attachments.js"/></script>

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<span><br/></span>
		<div id="eventLinks" name="eventLinks" class="ibm-buttons-row">
			{{#if admin}}
			<p>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="New Meeting/Event" name="btn_meeting" id="btn_meeting" class="ibm-add1-link">New Meeting/Event</a>
				<span class="ibm-sep"> </span>
				<a href="javascript:void(0);" value="New Parameter" name="btn_milestone" id="btn_milestone" class="ibm-add1-link">New Milestone</a>
			</p>
			<br/>
			{{/if}}
		</div>
		<div id='calendar'></div>
	</div>
</div>
<div id="Overlay_Event" title="Calendar Event Details" class="ibm-common-overlay ibm-overlay-alt-two" style="box-sizing: border-box;">
	<div class="ibm-body">
		<div class="ibm-main">
			<div class="ibm-title ibm-subtitle">
				<h2 id="eTitle" name="eTitle"></h2>
			</div>
			<div class="ibm-rule"><hr/></div>
			<div class="ibm-container ibm-alternate ibm-buttons-last" style="box-sizing: border-box;">
				<div class="ibm-container-body">
					<div style="text-align:right" id="creatorInfo"></div>
					<form id="formCalendar" class="ibm-column-form ibm-styled-form" name="formCalendar" method="POST" action="/saveEvent">
						<input type="hidden" id="id" name="id">
						<input type="hidden" id="rev" name="rev">
						<input type="hidden" id="eventType" name="eventType">
						{{>calendar/calendarEvent}}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="divDeleteImg" class="ibm-common-overlay"><center><p class="ibm-spinner-large"></p><strong>Deleting...</strong><p>&nbsp;</p></center></div>
<div id="divSavingImg" class="ibm-common-overlay"><center><p class="ibm-spinner-large"></p><strong>Saving...</strong><p>&nbsp;</p></center></div>

