<script src="./js/disclosure.js" type="text/javascript"></script>
<div id="ibm-leadspace-head" class="ibm-alternate">
	<div id="ibm-leadspace-body">
		<h1 class="ibm-small">MIRA Non-Disclosure</h1>
		</div>
		</div>
		<div class="ibm-container-body">
		<div class="ibm-columns">
		<div class="ibm-col-6-4">
		<hr/>
				<DIV style="float:left">
					<script>document.write(unescape({{{disclosure}}}))</script>
				</DIV>
				<div class="ibm-buttons-row"><p>
					<input class="ibm-btn-arrow-pri" id="bSubmit" type="button" value="OK" style="width: 80px;" onclick="javascript:redirect('OK');">
					<span class="ibm-sep"> </span>
					<input class="ibm-btn-cancel-sec" id="bCancel" type="button" value="CANCEL" style="width: 80px;" onclick="javascript:redirect('cancel');">
					</p>
				</DIV>
		</div>
	</div>
</div>