<script src="./js/disclosure.js" type="text/javascript"></script>
<div class="ibm-container-body">
	<div class="ibm-columns">
		<div class="ibm-col-6-4">
			<br/>
			<h1 class="ibm-small">MIRA Non-Disclosure Agreement</h1>
			<p>
			<hr/>
			<div style="float:left">
				<script>document.write(unescape({{{disclosure}}}))</script>
			</div>

			<div class="ibm-buttons-row"><p>
				<input class="ibm-btn-arrow-pri" id="bOK" type="submit" value="OK" style="width: 80px;">
				<span class="ibm-sep"> </span>
				<input class="ibm-btn-cancel-sec" id="bCancel" type="submit" value="Cancel" style="width: 80px;">
				</p>
			</div>
		</div>
	</div>
</div>