<h2>Error</h2>
<div class="ibm-container"  style="width:100%">
<iframe id="txtArea1" style="display:none"></iframe>
	<table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">
		<tbody>
			<tr>
				<td>
					<br/>
					<p class="ibm-incorrectLarge-link ibm-error">
						{{ errorDescription }}. 
						<br/><br/>
						<strong>Please contact the administrator.</strong>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>