<h2>Error</h2>
<p>Message Error </br>

</p>

<div class="ibm-container"  style="width:100%">

  <div class="ibm-buttons-row">
  </div>

<iframe id="txtArea1" style="display:none"></iframe>
  <table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">

  <thead>

		 <th scope="col">Error Description</th>


		</thead>	 
	  <tbody>

		<tr>

			<td>

			{{ errorDescription }}
			   

			</td>

			</tr>

	   </tbody>
	   
				
  </table>

</div>