<style>
#overView {
  text-align:justify;
  width:70%;
}
</style>
<div class="ibm-container-body">
  <div class="ibm-columns">
    <div class="ibm-col-6-4">
      <br><h2><span class="ibm-requestquote-link"></span>About MIRA</h2>
      <p>
        <div id="overView">
          <script>document.write(unescape({{{this.Message}}}))</script>
        </div>
      </p>
    </div>
  </div>
</div>
