<link  href="./css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<link href="../css/jsoneditor.css" rel="stylesheet" type="text/css">
<script src="./lib/jquery.dataTables.js"></script>
<script src="./lib/jsoneditor.min.js"></script>
<script src="./js/parameters.js"/></script>
<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<div class="ibm-buttons-row">
			<br/>
			<p>
				<span class="ibm-sep"> </span>
				<a href="/newparam"  value="New Parameter" name="new_param" id="new_param" class="ibm-add1-link">New Parameter</a>
			</p>
			<br/>
		</div>
		<div class="ibm-buttons-row">
		</div>
		<table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">
			<thead>
				<th scope="col">Key Name</th>
				<th scope="col">Active</th>
				<th scope="col">Description</th>
			</thead>
			<tbody>
				{{#each logList}}
				<tr>
					<td><a class="ibm-popup-link" href="/formparam?keyName={{ keyName }}" >{{ keyName }}</a></td>
					<td>{{ active }}</td>
					<td>{{ description }}</td>
				</tr>
				{{/each }}
			</tbody>
		</table>
	</div>
</div>
