
<div class="ibm-container-body">
	<div class="ibm-columns">
		<div class="ibm-col-6-4">
			<br/>
			<h1 class="ibm-small">My bluegroups are: {{bg}}</h1>
			<p>

				<div class="sectionwidget" id='sectionwidget' role="MIRA-OWNER, MIRA-READER">
				<!-- <div class="sectionwidget" role="MIRA-EDITOR, MIRA-READER"> -->
					Textarea 1:<br>
					<TEXTAREA id='textarea1' COLS="80">No matter what is your role today in IBM, we all need to know the industries which IBM can help to increase his business.  It's important to our business and to our career as well. So, let's start learning about it. 

					The immediate focus for Know Your Industry (KYI) education program is to access the Entry level education programs across different industries.
					</TEXTAREA>

					<br><br>
					<p style="text-align:left">
						<label for="input1">Input 1:<span class="ibm-required">*</span></label>
						<span>
							<input type="TEXT" WIDTH="40PX" id='input1' value="The immediate focus for Know Your Industry (KYI) education program">
						</span>
					</p>
					<p style="text-align:left">
						<label for="input2">Input 2:<span class="ibm-required">*</span></label>
						<span>
							<input type="TEXT" WIDTH="40PX" id='input2' value="Live the Knowledge Sharing culture by contributing content to the Practitioner Portal">
						</span>
					</p>

					<br><br>
					<p style="text-align:left">
						<label for="select1">Select 1:<span class="ibm-required">*</span></label>
						<span>
							<select option id='select1' name='option_service'>
	              <OPTION id='assessment' name='assessment' value='assessment'>Assessment</OPTION>
	              <OPTION id='cuassignment' name='cuassignment' value='cuassignment'>Cu-Assignment</OPTION>
	              <OPTION id='sampledcountrycontrols' name='sampledcountrycontrols' value='sampledcountrycontrols'>Sampled Country Controls</OPTION>
	              <OPTION id='controlsprod' name='controlsprod' value='controlsprod'>Controls Prod</OPTION>
	              <OPTION id='samplesprod' name='samplesprod' value='samplesprod'>Samples Prod</OPTION>
	              <OPTION id='cuptsummariesprod' name='cuptsummariesprod' value='cuptsummariesprod'>Cupt Summaries Prod</OPTION>
	              <OPTION id='risksprod' name='risksprod' value='risksprod'>Risks Prod</OPTION>
	              <OPTION id='ppreview' name='ppreview' value='ppreview'>Ppreview</OPTION>
            	</select>
          	</span>
           </p>

					<br><br>
					<p style="text-align:left">
						<label for="radio">Radio buttons:<span class="ibm-required">*</span></label>
						<span class="ibm-input-group">
							<input type="radio" name="fldtrue" value="true" checked ><label for="fldtrue">True</label>
							<input type="radio" name="fldtrue" value="false" ><label for="fldtrue">False</label>
						</span>
					</p>

					<br><br>
					<p style="text-align:left">
						<label for="checkbox">Checkbox:<span class="ibm-required">*</span></label><br>
						<span>
							<input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  						<input type="checkbox" name="vehicle" value="Car" checked> I have a car
  					</span>
  				</p>

					<br><br>
					<p style="text-align:left">
						<a href="http://www.google.com" onclick="doSomething(); return false;">Please, don't click here"</a>  
					</p>

					<br><br><br><br>
					<p style="text-align:left">
						<input class="ibm-btn-arrow-pri" type="submit" id="btn_submit" value="Submit" />
						<span class="ibm-sep">&nbsp;</span>
						<input class="ibm-btn-cancel-sec" type="button" id="btn_cancel" value="Cancel" />
					</p>
					<br><br>

				 </div> <!--end div sectionwidget -->

				 <div>
				 		**Field out of div sectionwidget <br>
				 		<input type="TEXT" WIDTH="40PX" id='input3' value="The immediate focus for Know Your Industry (KYI) education program">
				 	</div>
			</p>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	
	var divRole = $('.sectionwidget').attr('role'); //role in the div
	var bg = '{{bg}}'; //bluegroup member

		//call the function to compare roles
		if(compareArrays(divRole, bg) == false){
			var d = document.getElementById('sectionwidget');

			var t = $('.sectionwidget').find(':text');
			for(var i =0; i<t.length; i++){
				//create an <span> element and append the values from fields to it.
				var span = document.createElement("span");
        var text = document.createTextNode(t[i].value);
        span.appendChild(text);

				//append the text after the hidden fields
        $(t[i]).after(span);

        //hide the input text fields
        $('.sectionwidget').find(':text').hide();        
			}

			//disable elements
			$('.sectionwidget').find(':input').prop('disabled', true);
			$('.sectionwidget').find(':select').prop('disabled', true);
			$('.sectionwidget').find("a").attr("onclick", null);

		}//end if
}); 

//function to checkif roles in the div mach in user's roles.
function compareArrays(divRole, bg) {

	var arrayA = divRole.split(",");
	var arrayB = bg.split(",");
	var rtn = false;
	var resultA;
	var resultB;
  
	for(var x in arrayA){
		resultA = arrayA[x];	    
		for(y in arrayB){
			resultB =  arrayB[y];
			if(resultA == resultB){
				rtn = true;
			}
		}
	}
	return rtn;
}
</script>