<link  href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<script src="/lib/jquery.dataTables.js"></script>

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<br/>
		<p>
			<input class="ibm-btn-cancel-sec ibm-btn-small" type="button" id="button_export" name="export_table" value="Export to Excel">
			<input type="hidden" id="viewTitle" value="{{viewname}} {{quarter}}">
			<input type='hidden' id='dataForTableHeader' value='{{onedoc}}');>
		</p>
		<br/>
		<div class="ibm-buttons-row">
		</div>

		<div id="allProcess">
			<table id="reports_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="display nowrap">
				<thead>
					<th scope="col">ID</th>						
					<th scope="col">KEY</th>
					<th scope="col">VALUE</th>
				</thead>
			</table>
		</div>
 
	</div>
</div>
<script>
var alldata = JSON.parse('{{{alldata}}}');
var data = [];
for ( var i=0 ; i<alldata.doc.length ; i++ ) {
	data.push(["<a href='/rawDataDetail/"+alldata.doc[i].key+"/"+alldata.doc[i].id+"'>"+alldata.doc[i].id+"</a>",alldata.doc[i].key,alldata.doc[i].value]);
}
$('#reports_table').DataTable( {
            data:  data,
			select: true,
			"scrollY": 250,
			"scrollX": true
        } )
</script>
