.ibm-data-table  .mira-td-exceptions {
	font-size:11px
}
.ibm-data-table  .mira-td-exceptions td:first-child, .ibm-data-table  .mira-td-exceptions td{
	padding: 0px;
}
.ibm-data-table  .mira-td-exceptions td:first-child table, .ibm-data-table  .mira-td-exceptions td table{
	border: 1px solid;
	height: 199px;
}
.ibm-data-table  .mira-td-exceptions td:first-child table tbody tr:first-child, .ibm-data-table  .mira-td-exceptions td table tbody tr:first-child{
	height: 50px;
}
.ibm-data-table  .mira-td-exceptions td:first-child table tbody tr:first-child th, .ibm-data-table  .mira-td-exceptions td table tbody tr:first-child th{
	text-align: center;
}
.ibm-data-table  .mira-td-exceptions td:first-child table tbody tr td:first-child, .ibm-data-table  .mira-td-exceptions td table tbody tr td:first-child{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.mira-alert-sign {
	left: 80%;
	position: relative;
}

.mira-plus-sign {
	color: lightgreen;
}

.mira-highlight-tab
{
    background-clip: border-box;
    color: #000 !important;
    border-top-color: #454545 !important;
    border-top-style: solid !important;
    border-top-width: 2.5px !important;
    border-bottom-color: #454545 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2.5px !important;
}

.mira-standard-tab
{
    border-bottom-color: #ffffff !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1.5px !important;
    color: #fff !important;
}

.mira-assessment-tab
{
    color: #fff !important;
}

.td_icon_empty {
  background-image: url(/public/images/cancel.png);
  background-repeat:no-repeat;
  background-position:center;
}
.td_icon_edit {
  background-image: url(/public/images/pencil.png);
  background-repeat:no-repeat;
  background-position: center;
}
.td_icon_check {
  background: url(/public/images/check.png);
  background-repeat:no-repeat;
  background-position:center;
}

.ibm-data-table .mira-basic {
  background-color: #4181c0;
  text-align: left;
  color: white;
}
.ibm-data-table .mira-subtable {
  background-color: gray;
  text-align: left;
  color: white;
}
.ibm-data-table .bu-iot {
  background-color: #71b2cf;
  text-align: left;
  color: white;
}
.ibm-data-table .constituents {
  background-color: #87CEEB;
  text-align: left;
  color: white;
}
.ibm-data-table .country {
  background-color: #87CEEB;
  text-align: left;
  color: white;
}
.ibm-data-table .key-controls {
  background-color: #ff8141;
  text-align: left;
  color: white;
}
.ibm-data-table .reporting-group {
  background-color: #00c196;
  text-align: left;
  color: white;
}
.ibm-data-table .controllable-unit {
  background-color: #ff8080;
  text-align: left;
  color: white;
}
.ibm-data-table .country-process {
  background-color: #ff9fa9;
  text-align: left;
  color: white;
}
.ibm-data-table .sub-process {
  background-color: #7fc2bc;
  text-align: left;
  color: white;
}
.ibm-data-table .mira-caption {
  background-color: #4181c0;
  text-align: left;
  color: white;
  padding-left: 3px;
}
.ibm-data-table .mira-subdata {
  font-size:11px
}
.ibm-data-table .mira-subdata2 {
  font-size:10px
}
.ibm-data-table .mira-subdatablue {
  color: #0060A0;
  font-size:11px
}
.ibm-data-table .processrating {
  background-color: #00c1c2;
	border: 20px solid #00c1c2;
}
.ibm-data-table .processrating-label {
  background-color: #d0ffff;
}
.ibm-data-table .processrating-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #d0ffff;
}
.ibm-data-table .processrating-legend {
	font-size: 10px;
  background-color: #00c1c2;
	border: #00c1c2;
}
.ibm-data-table .summaryrollup {
  background-color: #71b2cf;
	border: 20px solid #71b2cf;
}
.ibm-data-table .summaryrollup-label {
  background-color: #c2efff;
}
.ibm-data-table .summaryrollup-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #c2efff;
}
.ibm-data-table .sat-bg {
	text-align: center;
	font-size: 11px;
	background-color: #00ff00;
}
.ibm-data-table .unsat-bg {
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	background-color: #ff0000;
}
.ibm-data-table .marg-bg {
	text-align: center;
	font-size: 11px;
	background-color: #ffff00;
}
.ibm-data-table .unrated-bg {
	text-align: center;
	font-size: 11px;
	background-color: #ffffff;
}
.ibm-data-table .content-data-centered {
	text-align: center;
	font-size: 11px;
  background-color: #ffffff;
}
.ibm-data-table .summary {
  color: #ffffff;
  background-color: #c0c27c;
	border: 20px solid #c0c27c;
}
.ibm-data-table .summary-label {
  background-color: #f1f1b4;
}
.ibm-data-table .content-data {
	font-size: 11px;
  background-color: #ffffff;
}
.ibm-data-table .basic-ctrl {
  color: #ffffff;
  background-color: #71B2CF;
}
.ibm-data-table .basic-ctrl-content {
	background-color: #71B2CF;
	border: 20px solid #71B2CF;
}
.ibm-data-table .basic-ctrl-label {
	font-size: 11px;
  background-color: #E0F1FF;
}
.ibm-data-table .ar-asmt {
  color: #ffffff;
  background-color: #7f604f;
}
.ibm-data-table .ar-asmt-content {
	color: #ffffff;
	background-color: #7f604f;
	border: 20px solid #7f604f;
}
.ibm-data-table .ar-asmt-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #e7d8cf;
}
.ibm-data-table .asmt-viewdata {
	font-size: 11px;
	background-color: #ffffff;
}
.ibm-data-table .asmt-richtext-readmode-tall {
	font-size: 11px;
	background-color: #ffffff;
	height:110px;
}
.ibm-data-table .asmt-richtext-readmode-short {
	font-size: 11px;
	background-color: #ffffff;
	height:20px;
}
.ibm-data-table .asmt-viewdata-centered {
	text-align: center;
	font-size: 11px;
	background-color: #ffffff;
}
.ibm-data-table .asmt-viewdata-green {
	text-align: center;
	font-size: 11px;
	background-color: #00ff00;
}
.ibm-data-table .asmt-viewdata-red {
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	background-color: #ff0000;
}
.ibm-data-table .asmt-viewdata-yellow {
	text-align: center;
	font-size: 11px;
	background-color: #ffff00;
}
.ibm-data-table .ar-asmt-label {
	font-size: 11px;
  background-color: #e7d8cf;
}
.ibm-data-table .risk-msdcommit {
  color: #ffffff;
  background-color: #00c150;
}
.ibm-data-table .risk-msdcommit-content {
  background-color: #00c150;
	border: 20px solid #00c150;
}
.ibm-data-table .risk-msdcommit-label {
	font-size: 11px;
	background-color: #e0ffdf;
}
.ibm-data-table .risk-msdcommit-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #e0ffdf;
}
.ibm-data-table .audit-review {
  color: #ffffff;
  background-color: #4181c0;
}
.ibm-data-table .audit-review-content {
  color: #ffffff;
  background-color: #4181c0;
	border: 20px solid #4181c0;
}
.ibm-data-table .audit-review-header {
  color: #ffffff;
  background-color: #4181c0;
	border: #4181c0;
}
.ibm-data-table .audit-review-label {
	background-color: #c2efff;
}
.ibm-data-table .audit-review-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #c2efff;
}
.ibm-data-table .kc-test {
  color: #ffffff;
  background-color: #ff8141;
}
.ibm-data-table .kc-test-cell {
  color: #ffffff;
  background-color: #ff8141;
	border: #ff8141;
}
.ibm-data-table .kc-test-content {
  color: #ffffff;
  background-color: #ff8141;
	border: 20px solid #ff8141;
}
.ibm-data-table .kc-test-header {
  color: #ffffff;
  background-color: #ff8141;
	border: #ff8141;
}
.ibm-data-table .kc-test-label {
	font-size: 11px;
  background-color: #ffd1bb;
	border: #ff8141;
}
.ibm-data-table .kc-test-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #ffd1bb;
}
.ibm-data-table .kc-test-viewsubheader {
	text-align: center;
	font-size: 11px;
	background-color: #dadada;
}
.ibm-data-table .kc-test-viewsubheader-al {
	font-size: 11px;
	font-weight: bold;
	background-color: #dadada;
}
.ibm-data-table .op-metric {
  color: #ffffff;
  background-color: #c0a1e0;
}
.ibm-data-table .op-metric-content {
  color: #ffffff;
  background-color: #c0a1e0;
	border: 20px solid #c0a1e0;
}
.ibm-data-table .op-metric-label {
	font-size: 11px;
  background-color: #e0e0ff;
}
.ibm-data-table .other {
	color: #ffffff;
  background-color: #808080;
	border: 20px solid #808080;
}
.ibm-data-table .other-viewheader {
	text-align: center;
	font-size: 11px;
	background-color: #dadada;
}
.ibm-tabs .mira-subdata {
  font-size:12px;
}

/*table for dashboard*/
caption {
  text-align: left;
}

th {
  text-align: left;
}

table {
    border-collapse: collapse;
}

table.mira-dashboard-table {
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    width: 100%;
}

table.mira-dashboard-table thead tr, table.ibm-data-table thead tr th {
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
}

table.mira-dashboard-table td, table.ibm-data-table th {
    border-top-color: #eee;
    border-top-style: solid;
    border-top-width: 1px;
}

table.mira-dashboard-table tbody th, table.mira-dashboard-view tbody td {
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 3px;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
    color: #555555;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 8px;
}

table.mira-dashboard-table td, table.mira-dashboard-table th {
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 10px;
    vertical-align: top;
}

.mira_checkbox{
    opacity: 0.90;
 	  background-position: center center;
    background-repeat: no-repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: -moz-use-text-color;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    height: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
	  margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 16px;

}
.mira_checkbox_flat{
  opacity: 0.90;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: -moz-use-text-color;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: -moz-use-text-color;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: 0;
  height: 13px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 16px;
}
.mira_checkbox_tree{
  opacity: 0.90;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: -moz-use-text-color;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: -moz-use-text-color;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: 0;
  height: 13px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 16px;
}
.scrollit {
    overflow:scroll;
    height:250px;
}
/
