<link href="./css/jquery.treetable.css" rel="stylesheet" type="text/css" />

<div class="ibm-container">
	<div class="ibm-container-body">
		<table id="FindEngagment" cellspacing="0" cellpadding="0" border="0" class="mira-dashboard-table" >
			<tbody>
				<tr>				    
					<td>Step1 - Select desired selection list orientation and click the Select button to view the list.</td>
			    </tr>
				<tr>
				<td>
					<p>
						<span>
								<select name="myselection" id="myselection">
									<option value="ById">By ID</option>
								</select>
						</span>
					</p>
					<br/><br/>
					<p>
						<span>
								<input class="ibm-btn-pri" type="button" id="btn_Select" value="Select"  name="btn_Select"/> 
								<span class="ibm-sep">&nbsp;</span>
						</span>
					</p>
				</td>
				</tr>
				<tr>				    
					<td>
						Step 2 - Confirm selected Engagement and click Update button at bottom right to accept your selection:
						<br/>
						<label id="idToAdd" class="ibm-important"></label>
					</td>
				</tr>
				
		  </tbody>
		</table>
		<div id="Overlay_EventbyId" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style="width:900px; box-sizing: border-box;">
			{{>auinternalaudit/engagementbyId}}
		</div>
		<div class="ibm-buttons-row">
		<p>
			<input class="ibm-btn-pri" type="button" id="btn_okIntAud" value="Update"/>
			<span class="ibm-sep">&nbsp;</span>
			<input class="ibm-btn-sec" type="button" id="btn_cancelIntAud" value="Close" />
		</p>
	   </div>
  </div>
</div>
<script>
	$(document).ready(function() {
		if($("#btn_findselect").length > 0){
			$('#btn_findselect').click(function() {
				$('#idToAdd').html("");
				ibmweb.overlay.show('Overlay_Find');
			});
		}
		if($("#btn_Select").length > 0){
			$('#btn_Select').click(function() {
				ibmweb.overlay.show('Overlay_EventbyId');
			});
		}
		var copylist=$('#InternalAuditsData').val();
		if($("#btn_okIntAud").length > 0){
			$("#btn_okIntAud").click(function() {
				//use flagIntAud to add data
				if($('#flagIntAud').val()=='1'){
					var adding=$('#InternalAudits').val();
					var ind=0;
					$('#internalauditsview_table tr').each(function() {
						var customerId = $(this).find("td:first").html(); 
						if(customerId!=undefined){
							var test=String(customerId);
							if(adding.indexOf(test)>0){
								ind=1;
							}
						}
						else{   
							ind=0;
						}
					});
					if(ind!='1'){
						$('#internalauditsview_table tbody').append("'"+adding+"'");
						$('#internalauditsview_table tr').each(function() {
							var id= $(this).find("td:first");
							var id2=id.attr('p_id');
							$("#btn_remove"+id2).on('click',function() {
								var r = confirm("Are you sure you want to remove this audit?");
								if (r == true) {
									$('#internalauditsview_table tr').each(function() { 
										var engagement = $(this).find("td:first").text(); 
										var p_id= $(this).find("td:first");
										var p_id2=id.attr('p_id');
										if (engagement!='' && engagement!='Engagement' && p_id2==id2 ){
											//get all values to save on InternalAuditsData	
											var list=$('#InternalAuditsData').val();
											var listdel=$('#InternalAuditsDataDel').val();
											if(list != ""){
													var pattern=id2;
													list=list.replace(pattern,'');
													var pattern3=',,';
													list=list.replace(pattern3,',');
													if(list[0]==','){list=list.substr(1,list.length);}
													if(list[list.length]==','){list=list.substr(0,list.length-1);}
													$('#InternalAuditsData').val(list);	
													//add id to DelList
													if(copylist.indexOf(id2) > -1 && copylist.length>'0'){
														if(listdel == "")
															listdel = p_id2;
														else{
															if(listdel.indexOf(p_id2) == -1)
															listdel = listdel + ',' + p_id2;
														}
														$('#InternalAuditsDataDel').val(listdel);		
													}
											}
											$("#"+id2).remove()
										}
									});
								}
							});
						});
					}
				}
				else{
					console.log('no adding');
				}
				//$('#internalauditsview_table tbody').append('<tr><td>'+pEngagement+'</td><td>'+paddedToAQDB+'</td><td>'+pRating+'</td><td>'+pSize+'</td><td>'+pScore+'</td></tr>');
				ibmweb.overlay.hide('Overlay_Find');
				alert("It is required to save the document to apply the changes.");
			});
		}
		if($("#btn_cancelIntAud").length > 0){
			$('#btn_cancelIntAud').click(function() {
				$('#idToAdd').html("");
				ibmweb.overlay.hide('Overlay_Find');
			});
		}
		
	});
</script> 