<link href="./css/jquery.treetable.css" rel="stylesheet" type="text/css" />

<div class="ibm-container" style="width:100%">
	<div class="ibm-container-body">
		<table id="FindEngagment" cellspacing="0" cellpadding="0" border="0" class="mira-dashboard-table" >
			<tbody>
				<tr>				    
					<td>Step1 - Select desired selection list orientation and click the Select button to view the list.</td>
			    </tr>
				<tr>
				<td>
				<p>
				<span>
						<select name="myselection" id="myselection" size=4>
							<option value="ById">By ID</option>
							<option value="ByDistribution">By Distribution</option>
							<option value="ByLocation">By Location</option>
							<option value="ByProcess">By Process</option>
							<option value="ByOrganization">By Organization</option>
						</select>
				</span>
				<span>
						<input class="ibm-btn-pri" type="button" id="btn_Select" value="Select"  name="btn_Select"/> 
						<span class="ibm-sep">&nbsp;</span>
				</span>
				</p>
				</td>
				</tr>
				<tr>				    
					<td>Step 2 - Confirm selected Engagement and click OK button at upper right to accept your selection:</td>
			    </tr>
				
		  </tbody>
		</table>
		<div id="Overlay_EventbyId" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>auinternalaudit/engagementbyId}}
		</div>
		<div id="Overlay_EventbyDist" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>auinternalaudit/engagementbyDist}}
		</div>
		<div id="Overlay_EventbyLoc" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>auinternalaudit/engagementbyLoc}}
		</div>
		<div id="Overlay_EventbyPro" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>auinternalaudit/engagementbyPro}}
		</div>
		<div id="Overlay_EventbyOrg" title="Engagement Selection" class="ibm-common-overlay ibm-overlay-alt-two" style=" overflow:scroll; box-sizing: border-box; height:400px">
						{{>auinternalaudit/engagementbyOrg}}
		</div>
		<div class="ibm-buttons-row" style="box-sizing: border-box; width:95%" >
		<p>
			<input class="ibm-btn-pri" type="button" id="btn_okIntAud" value="Update"/>
			<span class="ibm-sep">&nbsp;</span>
			<input class="ibm-btn-sec" type="button" id="btn_cancelIntAud" value="Close" />
		</p>
	   </div>
  </div>
</div>
<script>
	$(document).ready(function() {
		if($("#btn_findselect").length > 0){
			$('#btn_findselect').click(function() {
				ibmweb.overlay.show('Overlay_Event2');
			});
		}
		
		if($("#btn_okIntAud").length > 0){
			$("#btn_okIntAud").click(function() {
				//use flagIntAud to add data
				  if($('#flagIntAud').val()=='1'){
				      var adding=$('#InternalAudits').val();
					  var ind=0;
					  $('#internalauditsview_table tr').each(function() {
						var customerId = $(this).find("td:first").html(); 
						if(customerId!=undefined){
								var test=String(customerId);
								if(adding.indexOf(test)>0)
								{   
									ind=1;
								}                      
                        }
						else
						{   
						    ind=0;
						}
					 });
                      	if(ind!='1')
						{
						   $('#internalauditsview_table tbody').append("'"+adding+"'");
						}			  	  
				  }
				  else
				  {
				    console.log('no adding');
				  }															
					//$('#internalauditsview_table tbody').append('<tr><td>'+pEngagement+'</td><td>'+paddedToAQDB+'</td><td>'+pRating+'</td><td>'+pSize+'</td><td>'+pScore+'</td></tr>');
			    ibmweb.overlay.hide('Overlay_Event2');
				alert("It is required to save the document to apply the changes.");
			});
		}
		
		if($("#btn_cancelIntAud").length > 0){
			$('#btn_cancelIntAud').click(function() {
				ibmweb.overlay.hide('Overlay_Event2');
			});
		}
		
	});
</script> 