<script src="/js/asmt_componentsrollup.js" type="text/javascript"></script>
<h3>{{AssessableUnitName}}</h3><br/><br/>
<div class="ibm-columns ibm-graphic-tabs">

	<div class="ibm-tab-section">
		<ul class="ibm-tabs">
			<li id="summary-li" class="ibm-active"><a href="javascript:void(0)" class="mira-subdata">Summary</a></li>
			<li id="perfoverview-li"><a href="javascript:void(0)" class="mira-subdata">Performance Overview</a></li>
			<li id="auditreview-li"><a href="javascript:void(0)" class="mira-subdata">Audits &amp; Reviews</a></li>
			<li id="processrating-li"><a href="javascript:void(0)" class="mira-subdata">Process Ratings</a></li>
			<li id="curating-li"><a href="javascript:void(0)" class="mira-subdata">CU Ratings</a></li>
			<li id="rctest-li"><a href="javascript:void(0)" class="mira-subdata">Rptg Country Testing</a></li>
			<li id="sctest-li"><a href="javascript:void(0)" class="mira-subdata">Sampled Country Testing</a></li>
			<li id="riskmsdcommit-li"><a href="javascript:void(0)" class="mira-subdata">Open Risks &amp; Missed Commits</a></li>
			<li id="audituniverse-li"><a href="javascript:void(0)" class="mira-subdata">Audit Universe</a></li>
		</ul>
	</div>
	<div id="summary" class="ibm-tabs-content">
		{{>asmtbucountrygbs/ratingsummary}}
	</div>
	<div id="perfoverview" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/performanceoverview}}
	</div>
	<div id="auditreview" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/auditsandreviews}}
	</div>
	<div id="curating" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/curatings}}
	</div>
	<div id="processrating" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/processratings}}
	</div>
	<div id="rctest" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/kctesting1}}
	</div>
	<div id="sctest" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/kctesting2}}
	</div>
	<div id="riskmsdcommit" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/openrisksmsdcommits}}
	</div>
	<div id="audituniverse" class="ibm-tabs-content" style='display : none'>
		{{>asmtbucountrygbs/audituniverse}}
	</div>

</div>
