<table id="auditreadyasmt_table" class="ibm-data-table">
	{{#if_equal EnteredBU "GTS"}}
	{{else}}
		<tr class="ar-asmt-content">
			<td>
				<table width="100%" class="ar-asmt-label">
					<tr>
						<td>
							The GBS Audit Readiness Program (ARP)  includes the tool, templates and process to assist GBS management in assessing their audit preparedness.
							This is accomplished by giving management the ability to understand the audit program, identify gaps, weaknesses, or risk areas in the process execution and perform independent assessments.
							This process is managed and supported  through GATT (GBS Audit Tracker Tool) which houses the GBS Audit Universe and the individual auditable unit history profile, attributes and risk levels.
							Identified gaps, weaknesses,  and risks in the process should be part of the holistic assessment and should be noted on the summary tab of the assessment along with actions and target dates to close.
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="ar-asmt-content">
			<td>
				<table width="100%">
					<tr>
						<td width="30%" class="ar-asmt-label">Audit readiness review status:</td>
						<td width="70%" class="content-data"></td>
					</tr>
					<tr>
						<td class="ar-asmt-label">Audit readiness review date:</td>
						<td class="content-data"></td>
					</tr>
					<tr>
						<td class="ar-asmt-label">GATT auditable unit record:</td>
						<td class="content-data"></td>
					</tr>
				</table>
			</td>
		</tr>
	{{/if_equal}}
</table>
