<table id="other_table" class="ibm-data-table">
	<thead class="other">
		<th class="other">Other Considerations</th>
	</thead>
	<tr class="other">
		<td class="content-data">&nbsp;{{AsmtOtherConsiderations}}</td>
	</tr>
</table>
