<table id="summary_table" class="ibm-data-table">
	<tr class="summary">
		<td>
			<table width="100%">
				<thead class="summary-label"><th scope="col">Rating Summary</th></thead>
				<tr class="content-data"><td>&nbsp;{{RatingSummary}}</td></tr>
			</table>
		</td>
	</tr>
	<tr class="summary">
		<td>
			<table width="100%">
				<thead class="summary-label">
					<th scope="col">Highlights</th>
					<th scope="col">Focus Areas</th>
				</thead>
				<tr class="content-data">
					<td>&nbsp;{{Highlight}}</td>
					<td>&nbsp;{{FocusArea}}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
