{{!-- AU Global Process form - Constituent section - Edit/Read Mode --}}
<table id="constiheader_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<caption class="mira-caption"><em>Constituent Assessable Units</em></caption>
</table>
<div class="ibm-columns ibm-graphic-tabs">
	<table id="countryprocess_table" cellspacing="0" cellpadding="0" border="0" width="100%" summary="Data table with alternating column example" class="ibm-data-table ibm-sortable-table ibm-alternating">
		<thead class="mira-subtable">
			<th scope="col">Name</th>
			<th scope="col">Status</th>
			<th scope="col">Prior Qtr</th>
			<th scope="col">Current Qtr</th>
			<th scope="col">Outlook</th>
			<th scope="col">Target to Sat</th>
		</thead>
		{{#each CPData}}
			<tr>
				{{#each col}}<td>{{this}}</td>{{/each}}
			</tr>
		{{/each}}
	</table>
</div>
