<table id="guide_table" cellspacing="0" cellpadding="0" border="0" width="100%" class="ibm-data-table">
	<tr>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="11%"><p class="ibm-ind-caution">&nbsp;</p></td>
		<td width="3.5%"></td>
		<td width="13%"></td>
	</tr>
	<tr>
		<th scope="col" class="basic-ctrl">Basics of Control</th>
		<th scope="col">+</th>
		<th scope="col" class="ar-asmt">Audit Readiness Assessment</th>
		<th scope="col">+</th>
		<th scope="col" class="risk-msdcommit">Open Risk Evals including Missed Commits</th>
		<th scope="col">+</th>
		<th scope="col" class="audit-review">Audits and Reviews</th>
		<th scope="col">+</th>
		<th scope="col" class="kc-test">Key Controls Testing</th>
		<th scope="col">+</th>
		<th scope="col" class="op-metric">Operational Metrics</th>
		<th scope="col">=</th>
		<th scope="col">Aggregate Basis for Control Assessment</th>
	</tr>
	<tr>
		<td>Verify that basic elements exist to ensure IBM is operating in a well controlled environment</td>
		<td></td>
		<td>
			<ul>
				<li>Analysis to Lessons Learned</li>
				<li>Audit Readiness Checklist</li>
			</ul>
		</td>
		<td></td>
		<td>Do you have Open Risk Evaluations in the current and/or prior quarters?<br /><br />Do any have missed Commitment dates?</td>
		<td></td>
		<td>Have there been any audits or reviews in the past quarter/  what was the rating?</td>
		<td></td>
		<td>What  Key Controls were tested and what was the result?<br /><br />Do you have unremediated defects?</td>
		<td></td>
		<td>Are Operational metrics within the defined target range?</td>
		<td></td>
		<td>The final “Holistic” Management Self Assessment of Controls (MSAC) should be a combination of all quantitative and qualitative inputs using professional judgment.</td>
	</tr>
</table>
