<table id="other_table" class="ibm-data-table">
	<thead class="other">
		<th class="other">Other Considerations</th>
	</thead>
	<tr class="other">
		{{#if editmode}}
			<td class="content-data">
				<div class='yui-skin-sam'>
					<span><textarea id="AsmtOtherConsiderations" type="text" name="AsmtOtherConsiderations" cols="168" rows="3">{{AsmtOtherConsiderations}}</textarea></span>
				</div>
			</td>
		{{else}}
			<td class="content-data">&nbsp;
				<input type="hidden" name="AsmtOtherConsiderationsRO" value="{{AsmtOtherConsiderations}}">
				<div id="AsmtOtherConsiderationsReadOnly"></div>
			</td>
		{{/if}}
	</tr>
</table>
